<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
    <span class="lnr lnr-cart"></span>
    <span class="badge-cart badge badge-bg-1"></span>
</a>
<ul class="dropdown-menu cart-list s-cate">
    {# {% for productoCarro in productosCarro %}
        <li class="single-cart-list">
            <a href="#" class="photo"><img src="{{asset('assets/images/collection/' ~productoCarro.photo)}}" class="cart-thumb" alt="image" /></a>
            <div class="cart-list-txt">
                <h6><a href="#">{{productoCarro.nombre}}</a></h6>
                <p>{{productoCarro.quantity}} x {{productoCarro.precio}} <span class="price">${{productoCarro.precioTotal}}</span></p>
            </div><!--/.cart-list-txt-->
            <div class="cart-close">
                <span class="lnr lnr-cross"></span>
            </div><!--/.cart-close-->
        </li><!--/.single-cart-list -->
    {% endfor %} #}
    
    {# <li class="total">
        <span>Total: $<span id='totalPrice'></span></span>
        <button class="btn-cart pull-right" onclick="window.location.href='#'">Checkout</button>
    </li> #}
</ul>